body{
    color:gray;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h2{
    color:rgb(255, 162, 178);
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
h2:hover{
    color:gray;
}

a{
    color:white;
}

a:hover{
    color:pink;
}
.column{
    float:left;
    width:33%;
   
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
h1{
    color:pink;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
main{
    font-size: large;
}
img{
    display:block;
    margin-left:auto;
    margin-right: auto;
}
h5{
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}
